@keyframes blow{
    from{
        transform:scale(0.0000001);
    opacity:1;
    }
    to{
        transform:scale(1);
    opacity:0;
    }
}
.blow{
    position: fixed;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.671);
    width:3rem;
    height:3rem;
    border-radius:50%;
    transform:scale(0.0000001);
    opacity:1;
    z-index:100;
}
.clicked{
    animation:blow 400ms forwards;
}