.action-area{
    position: fixed;
    top:3rem;
    left:0;
    background:rgba(235, 235, 235, 0.514);
    height: 100%;
    width:calc(100% - 16rem);
    z-index:1;
}
.action-area .connection{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:1.2rem;
    z-index:2;
}
.action-area .action-list{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:calc(100% - 6rem);
    margin-bottom:1rem;
}
.action-area .action-list.expand{
    height:100%;
}
.action-area .action-list-o{
    padding:0;
}
.action-area .send-box{
    position:absolute;
    bottom:3rem;
    left:0;
    width:100%;
    height:2.9rem;
    background:white;
    display: block;
    z-index:4;
}