.sticker-o{
    position: absolute;
    top:0.5rem;
    left:3rem;
    right:0;
    bottom:0;
    overflow-y: scroll;
}
.sticker-o .items {
    width:auto;
}
.sticker-o .items .item{
    width:1.5rem;
    height:1.5rem;
    padding: 0.2rem;
    text-align:center;
    display:inline-block;
    transform:scale(1.3);
    margin-right:2rem;
    color:rgb(102, 102, 102);
}
.sticker-o .items .item:hover{
    background:rgb(102, 102, 102);
    color:white;
}